/* Parametres */
* {
     margin: 0%;
     padding: 0%;
     box-sizing: border-box;
}

:root {
     --main-color: #00CCAA;
     --bg-color: #FAFFFE;
     --texte-color: #002D26;
     --head-bg-color: #e0f8f4;
}

span {
     font-family: "Krona One";
     font-weight: 100;
}

h1 {
     font-family: "Krona One";
     font-size: 40px;
     color: var(--texte-color);
}

h2 {
     font-family: "Krona One";
     justify-self: anchor-center;
     font-size: 32px;
     padding-bottom: 20px;
     color: var(--texte-color);
}

h3 {
     font-family: "Krona One";
     color: var(--texte-color);
}

p {
     font-family: "Poppins";
     font-size: 20px;
     color: var(--texte-color);
}
a{
    text-decoration: none;
    color: var(--texte-color);
}
.btn{
    background-color: var(--main-color);
    border-radius: 50px;
    font-family: "Poppins";
    color: var(--bg-color);
    display: inline-block;
    padding: 12px 35px;
        width: fit-content;
}

/* Container Settings */
.container {
     padding: 10px 40px;
     margin: auto;
     padding-top: 20px;
}

body {
     background-color: var(--bg-color);
}

.padding-section {
     padding: 24px 24px;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #00ccaa45;
    border-radius: 500px;
    width: 700px;
    padding-right: 40px;
    padding-left: 20px;
    background-color: #fdfdfd96;
    box-shadow: 0 4px 15px #00000012;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    ul {
        display: flex;
        gap: 50px;
    }
    li {
        list-style: none;
        font-family: "Krona One";
    }
    
    
}

header {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 25px;
     background-color: var(--head-bg-color);
     justify-content: space-between;
     border: 2px solid #00ccaa45;
     border-radius: 500px;
     width: 700px;
     padding-right: 40px;
     padding-left: 20px;
     background-color: #fdfdfd96;
     box-shadow: 0 4px 15px #00000012;
     backdrop-filter: blur(10px);
     position: fixed;
     top: 5%;
     left: 50%;
     transform: translateX(-50%);
     z-index: 1;

}

.docHeader{
     display: flex;
     flex-direction: column;
     justify-content: left;
     gap: 10px;
     padding-bottom: 20px;
     div{
          display: flex;
          flex-direction: row;
          gap: 10px;
     }
     p{
          font-family: "Krona One";
          font-weight: 500;
     }
     h1{
          font-size: 30px;
          font-family: "Poppins";
          font-weight: 400;
     }
}

.goal{
     div{
          text-align: center;
     }
}


.objectif {
     background-color: var(--head-bg-color);
     padding-top: 100px;
     padding-right: 40px;
}

.prototype{
     display: flex;
     justify-content: center;
     align-items: center;
     padding-left: 150px;
     img{
          height: 200px;
          width: 300px;
     }
}
.prototype{
     display: flex;
     align-items: center;
}

#personna {
     background-color: var(--texte-color);
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-bottom: 120px;

     h2 {
          color: var(--bg-color);
          text-align: center;
     }

     h3 {
          color: var(--bg-color);

     }

     div {
          display: flex;
          flex-direction: column;

          img {
               width: 749px;
          }
     }
}

.start {
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.personna {
     display: flex;
     flex-direction: column;
     gap: 60px;
}

/* Fonction */

.jeune {
     display: flex;
     flex-direction: column;
     gap: 20px;
}

.explain {
     display: flex;
     flex-direction: column;
     background-color: var(--bg-color);
     gap: 15px;
     border: var(--main-color) solid 2px;
     border-radius: 20px;
     box-shadow: #0000000a 0px 0px 5px 5px;
     padding: 15px 15px;
}

.ladder {
  width: 600px;
  margin: 40px auto;
  position: relative;
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.step::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 40px;
  height: 100%;
  width: 2px;
  background-color: #ccc;
}

.step:last-child::before {
  display: none;
}

.circle {
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 20px;
  z-index: -1;
}

.step p {
  margin: 0;
  font-size: 16px;
}


/* Tech */

.fig{
     text-align: center;
     display: flex;
     flex-direction: column;
     gap: 40px;
     padding-bottom: 60px;
}
.technologie{
     position: relative;
    z-index: -1;
}
.cardstechno{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     div{
          border-bottom: var(--main-color) solid 2px;
          border-left: var(--main-color) solid 2px;
          padding: 10px;
          box-shadow: #0000000a 0px 0px 5px 5px;
          background-color: var(--bg-color);
     }
}

.bg-blur {
    border-radius: 500px;
    height: 400px;
    aspect-ratio: 1;
    position: absolute;
    filter: blur(100px);
    width: 400px;
    opacity: 10%;
}
.green{
    background-color: var(--main-color);
    top: -15%;
    left: -5%;
    z-index: -2;
}
.green2 {
    background-color: var(--main-color);
    top: 62%;
    left: 65%;
    z-index: -2;
}
.colors{
     background-color: var(--texte-color);
}

.design{
     display: flex;
     flex-direction: column;
     gap: 40px;
     p{
          color: var(--bg-color);
     }
     h2{
          color: var(--bg-color);
     }
     img{
          border: solid 2px black;
          border-radius: 20px;
          background-color: black;
          padding: 0px 5px;
     }
}
.vert{
     display: flex;
     flex-direction: row;
     gap: 20px;
     div{
          display: flex;
          flex-direction: column;
          gap: 20px;
     }
     ol{
          font-family: "Poppins";
          color: var(--bg-color);
          font-size: 20px;
     }
     span{
          color: var(--bg-color);
          font-size: 20px;
     }
     h3{
          color: var(--bg-color);
          font-size: 25px;
     }
}

.stub{
     text-align: center;
}
.conclusion{
     display: flex;
     flex-direction: row;
     gap: 20px;
     div{
          min-width: 500px;
          text-align: start;
     }
}
/* Footer */

.logoText {
     display: flex;

     p {
          width: 300px;
          text-align: center;
          padding-left: 20px;
     }
}

.footer {
     display: flex;
     justify-content: center;
     gap: 20px;
     padding: 40px 0px;
     background-color: var(--head-bg-color);
     strong {
          font-family: "Poppins";
     }

     ul {
          list-style: none;
     }
}

.socials {
     display: flex;
     align-items: center;
     flex-direction: column;
     gap: 15px;
}

.thirddiv {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 15px;

     ul {
          font-family: "Poppins";
          padding-left: 50px;
     }
}

footer {
     display: flex;
     justify-content: space-between;
     padding: 0px 10px 10px 10px;
     background-color: var(--head-bg-color);
}