/* Parametres */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --main-color: #00CCAA;
    --bg-color: #FAFFFE;
    --texte-color: #002D26;
    --head-bg-color: #e0f8f4;
}
span{
    font-family: "Krona One";
    font-weight: 100;
}
h1 {
    font-family: "Krona One";
    font-size: 30px;
    color: var(--texte-color);
}

h2 {
    font-family: "Krona One";
    justify-self: anchor-center;
    font-size: 32px;
    padding: 50px;
}

h3 {
    font-family: "Krona One";
}

p {
    font-family: "Poppins";
}

/* Container Settings */
.container {
    max-width: 1080px;
    margin: auto;
    padding-top: 20px;
}
body{
    background-color: var(--bg-color);
}

.padding-section {
    padding: 24px 24px;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--main-color);
    border-radius: 500px;
    width: 700px;
    padding-right: 40px;
    padding-left: 20px;
    background-color: #fdfdfd96;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 5%;
    left: 25%;
    z-index: 1;

    ul {
        display: flex;
        gap: 50px;
    }
    li {
        list-style: none;
        font-family: "Krona One";
    }
    a {
        color: var(--texte-color);
        text-decoration: none;
    }
    .btncontact {
        background-color: var(--main-color);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 10px;
        font-family: "Poppins";
        color: var(--bg-color);
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    background-color: var(--head-bg-color);
    
}


/* here */

.objectif{
     background-color: var(--head-bg-color);
     div:first-child{

     }
}















/* Footer */

.logoText{
    display: flex;

    p{
        width: 300px;
        text-align: center;
        padding-left: 20px;
    }
}
.footer{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 0px;
    strong{
        font-family: "Poppins";
    }
    ul{
        list-style: none;
    }
}
.socials{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.thirddiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    ul{
        font-family: "Poppins";
        padding-left: 50px;
    }
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 10px 10px;
}
