/* Le code CSS spécifique à la page d'accueil */

/* Réinitialisation Parametres */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Variables */
:root {
    --main-color: #00CCAA;
    --bg-color: #FAFFFE;
    --texte-color: #002D26;
    --head-bg-color: #e0f8f4;
}

/* Style Global */
span{
    font-family: "Krona One";
    font-weight: 100;
}
h1 {
    font-family: "Krona One";
    font-size: 30px;
    color: var(--texte-color);
}

h2 {
    font-family: "Krona One";
    justify-self: anchor-center;
    font-size: 27px;
    color: var(--texte-color);
    margin-bottom: 16px;
}

h3 {
    font-family: "Krona One";
    color: var(--texte-color);
}

p {
    font-family: "Poppins";
    color: var(--texte-color);
}
strong{
    font-family: "Poppins";
}
.btn{
    background-color: var(--main-color);
    border-radius: 50px;
    font-family: "Poppins";
    color: var(--bg-color);
    display: inline-block;
    padding: 12px 35px;
        width: fit-content;
}
a{
    text-decoration: none;
    color: var(--texte-color);
}
.text-left{
    text-align: left;
}
.content{
        display: flex;
    flex-direction: column;
    justify-content: center;
        gap: 20px;
        flex: 45%;
}
/* Container Settings */
.padding-section{
    padding: 120px 24px;
}
.container {
    max-width: 1080px;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
}
body{
    background-color: var(--bg-color);    
    z-index: -1;
    position: relative;
    border: red solid 1px;
}


/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #00ccaa45;
    border-radius: 500px;
    width: 700px;
    padding-right: 40px;
    padding-left: 20px;
    background-color: #fdfdfd96;
    box-shadow: 0 4px 15px #00000012;
    backdrop-filter: blur(10px);
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    ul {
        display: flex;
        gap: 50px;
    }
    li {
        list-style: none;
        font-family: "Krona One";
    }
    
    
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 24px;
    background-color: var(--head-bg-color);
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        height: 100vh;
    padding: 24px;
    background-color: var(--head-bg-color);
    .container{
                display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    .btn{
            margin-top: 24px;
    }
    img{
        max-width: 51%;
    }

}



.phones {
    display: flex;
    justify-content: space-between;
    img {
        width: 400px;
        height: 360px;
    }
}

/* Partenaires */
#partenaire {
    background-color: var(--texte-color);
    display: flex;
    justify-content: center;
    gap: 32px;
        padding: 40px 24px;
            flex-wrap: wrap;
        padding: 80px 24px;
    img {
        height: 100px;
        filter: invert();
    }
}


.cardsProblem {
    gap: 50px;
    display: flex;
    margin-top: 64px;
    flex-wrap: wrap;
    justify-content: center;
    span{
       font-size: 50px;   
    }
    div {
        flex-direction: column;
        width: 320px;
        height: 329px;
        display: flex;
        padding: 0px 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        border-radius: 20px;
        box-shadow: #0000000a 0px 0px 5px 5px;
        background-color: var(--bg-color);
    }
}
.mate{
    padding-right: 20px;
    border-right: solid 2px var(--main-color);

}

/* Styles Nos solutions */
.solution{
    position: relative;
    z-index: -1;
    h2{
        padding-bottom: 30px;
    }
}
.nt{
    padding-bottom: 40px;
}
.bg-blur {
    border-radius: 500px;
    height: 400px;
    aspect-ratio: 1;
    position: absolute;
    filter: blur(100px);
    width: 400px;
    opacity: 10%;
}
.green{
    background-color: var(--main-color);
    top: 5%;
    left: 10%;
    z-index: -2;
}
.green2 {
    background-color: var(--main-color);
    top: 60%;
    left: 60%;
    z-index: -2;
}
.groupBoth{
    display: flex;
    flex-direction: row;
    gap: 35px;
        flex-wrap: wrap;
    img{
        width: 500px;
        height: 550px;
    }
}

/* What they think */

.avisContainer {
    gap: 20px;
    display: flex;
    margin-top: 64px;
}
.avis {
    background-color: var(--head-bg-color);
    border-radius: 20px;
    text-align: center;
    padding: 18px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    p:first-child{
        font-style: italic;
    }
    img {
    height: 64px;
    aspect-ratio: 1;
    width: 64px;
    object-fit: cover;
    border-radius: 50%;
}
}

/* Etaps */
.steps{
    position: relative;
   text-align: center;
}

.stats{
    h2{
        color: var(--bg-color);
    }
}

/* Later */
#opacityPara{
    font-size: 20px;
    color: var(--texte-color);
    opacity: 60%;
}
.etapPara{
        display: flex;
    flex-direction: column;
    margin-top: 64px;
    p{
        padding: 64px;
        text-align: start;
        font-size: 20px;
        font-weight: 500;
        color: var(--texte-color);
        border-bottom: 4px solid #0ab4984a;
        position: relative;
    }
    p:last-child{
        border: none;
    }
}
.border{
    background-color: var(--main-color);
    height: 5px;
    width: 100%;
    position: absolute;
    z-index: -2;
    top: 30%;
    left: 0%;
    opacity: 40%;
}
.border1{
    background-color: var(--main-color);
    height: 5.5px;
    width: 100%;
    position: absolute;
    z-index: -2;
    top: 53%;
    left: 0%;
    opacity: 40%;
}
.border2{
    background-color: var(--main-color);
    height: 6.4px;
    width: 100%;
    position: absolute;
    z-index: -2;
    top: 76%;
    left: 0%;
    opacity: 40%;
}
.etap{
    position: absolute;
    z-index: -2;
    opacity: 40%;
    top: 5%;
    left: -1%;
    strong{
        color: var(--main-color);
        font-family: "Krona One";
        font-size: 50px;
    }
}

.etap1{
    position: absolute;
    z-index: -2;
    opacity: 40%;
    top: 5.5%;
    left: -1%;
    strong{
        color: var(--main-color);
        font-family: "Krona One";
        font-size: 50px;
    }
}

.etap2{
    position: absolute;
    z-index: -2;
    opacity: 40%;
    top: 2.7%;
    left: -1%;
    strong{
        color: var(--main-color);
        font-family: "Krona One";
        font-size: 50px;
    }
}
/* Statistics */
.stats{
    background-color: var(--texte-color);
    color: var(--bg-color);
    display: flex;
    gap: 50px;
    p:first-child{
        font-size: 29px;
        width: 436px;
        text-align: start;
        padding-bottom: 50px;
        color: var(--bg-color);
    }
    p:last-child{
        font-size: 43px;
        color: var(--bg-color);
    }
}
#counter{
    width: 400px;
}

/* CTA Styles */
.CTA{
    display: flex;
    flex-direction: row-reverse;
    
}
.ctabuttons{
    display: flex;
    gap: 20px;
    img{
        width: 150px;
        height: 55px;
    }
}
.ctaText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
.ctaText{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}
/* Contact Form */
.form{
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    gap: 20px;
    #puts{
        font-family: "Poppins";
        border: none;
        border-bottom: var(--main-color) solid 2px;
        outline: none;
        width: 450px;
    }
    textarea{
        font-family: "Poppins";
        border: none;
        width: 450px;
        height: 100px;
        border: var(--main-color) solid 2px;
        outline: none;
        background-color: var(--bg-color);
        resize: none;
    }
}
#submit{
    border-radius: 10px;
    background-color: #002D26;
    color: var(--bg-color);
    font-weight: 500;
    width: 255px;
    border: none;
    padding: 10px 15px;
}

/* Footer */

.logoText{
    display: flex;

    p{
        width: 300px;
        text-align: center;
        padding-left: 20px;
    }
}
.footer{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 0px;
    strong{
        font-family: "Poppins";
    }
    ul{
        list-style: none;
    }
    background-color: var(--head-bg-color);
}
.socials{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.thirddiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    ul{
        font-family: "Poppins";
        padding-left: 50px;
    }
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 10px 10px;
    background-color: var(--head-bg-color);
}

/* responsive */
@media (max-width: 500px) {
nav{
    top: 0;
    left: 0;
    transform: translateX(0);
    z-index: 1;
    padding: 17px;
    width: 100vw;
    border-radius: 0;
    svg,.btn{
        display: none;
    }
}
}