/* Le code CSS spécifique à la page d'accueil */

/* Parametres */
*{
    margin: 0%;
    padding: 0%;
    
}
:root{
    --main-color: #00CCAA;
    --bg-color: #FAFFFE;
    --texte-color: #002D26;
}
h1{
    font-family: "Krona One";
    font-size: 30px;
}
h2{
    font-family: "Krona One";
}
h3{
    font-family: "Krona One";
}
p{
    font-family: "Poppins";
}

/* Navbar */
nav{
    display: flex;
    border-color: var(--main-color);
    border: 1px solid;
    border-radius: 500px;
    ul{
        display: flex;
    }
    li{
        list-style: none;
    }
    width: 100vh;
}
header{
    justify-content: center;
    align-items: center;
    padding: 25px;
}